USE [master]
GO
/****** Object:  Database [QuanLiHoiNghi]    Script Date: 19/01/2021 10:56:10 ******/
CREATE DATABASE [QuanLiHoiNghi]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLiHoiNghi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLiHoiNghi]
GO
/****** Object:  FullTextCatalog [diadia_ctlg]    Script Date: 19/01/2021 10:56:12 ******/
CREATE FULLTEXT CATALOG [diadia_ctlg] WITH ACCENT_SENSITIVITY = OFF
GO
/****** Object:  FullTextCatalog [hoinghi_ctlg]    Script Date: 19/01/2021 10:56:12 ******/
CREATE FULLTEXT CATALOG [hoinghi_ctlg] WITH ACCENT_SENSITIVITY = OFF
GO
/****** Object:  FullTextCatalog [user_ctlg]    Script Date: 19/01/2021 10:56:12 ******/
CREATE FULLTEXT CATALOG [user_ctlg] WITH ACCENT_SENSITIVITY = OFF
GO
/****** Object:  Table [dbo].[CHITIETADMIN]    Script Date: 19/01/2021 10:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETADMIN](
	[IDHN] [int] NOT NULL,
	[IDUSER] [int] NOT NULL,
	[LOAIADMIN] [char](1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANGKITHAMGIA]    Script Date: 19/01/2021 10:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANGKITHAMGIA](
	[IDHN] [int] NOT NULL,
	[IDUSER] [int] NOT NULL,
	[TRANGTHAI] [int] NOT NULL,
	[THOIGIANDK] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIADIEMTOCHUC]    Script Date: 19/01/2021 10:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIADIEMTOCHUC](
	[IDDD] [int] NOT NULL,
	[TENDD] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](50) NOT NULL,
	[SUCCHUA] [int] NOT NULL,
 CONSTRAINT [PK_DIADIEMTOCHUC] PRIMARY KEY CLUSTERED 
(
	[IDDD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOINGHI]    Script Date: 19/01/2021 10:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOINGHI](
	[IDHN] [int] NOT NULL,
	[IDDD] [int] NOT NULL,
	[TENHN] [nvarchar](50) NOT NULL,
	[MOTANGANHN] [ntext] NOT NULL,
	[MOTACHITIETHN] [ntext] NOT NULL,
	[HINHANH] [nvarchar](50) NOT NULL,
	[THOIGIANBATDAU] [datetime] NOT NULL,
	[THOIGIANKETTHUC] [datetime] NOT NULL,
	[SOLUONG] [int] NOT NULL,
 CONSTRAINT [PK_HOINGHI] PRIMARY KEY CLUSTERED 
(
	[IDHN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 19/01/2021 10:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[IDUSER] [int] NOT NULL,
	[TENUSER] [nvarchar](50) NOT NULL,
	[PASSWORD] [varchar](256) NOT NULL,
	[USERNAME] [varchar](50) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[HINHANH] [nvarchar](50) NOT NULL,
	[LOAIUSER] [char](1) NOT NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[IDUSER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHITIETADMIN] ([IDHN], [IDUSER], [LOAIADMIN]) VALUES (89, 73, N'1')
INSERT [dbo].[CHITIETADMIN] ([IDHN], [IDUSER], [LOAIADMIN]) VALUES (87, 82, N'0')
INSERT [dbo].[CHITIETADMIN] ([IDHN], [IDUSER], [LOAIADMIN]) VALUES (21, 77, N'0')
GO
INSERT [dbo].[DANGKITHAMGIA] ([IDHN], [IDUSER], [TRANGTHAI], [THOIGIANDK]) VALUES (89, 73, 2, CAST(N'2019-07-07T15:21:26.300' AS DateTime))
INSERT [dbo].[DANGKITHAMGIA] ([IDHN], [IDUSER], [TRANGTHAI], [THOIGIANDK]) VALUES (87, 82, 2, CAST(N'2019-04-26T12:27:48.030' AS DateTime))
INSERT [dbo].[DANGKITHAMGIA] ([IDHN], [IDUSER], [TRANGTHAI], [THOIGIANDK]) VALUES (21, 77, 2, CAST(N'2020-04-03T22:37:46.920' AS DateTime))
GO
INSERT [dbo].[DIADIEMTOCHUC] ([IDDD], [TENDD], [DIACHI], [SUCCHUA]) VALUES (1, N'Trung tam hoi nghi Memphis', N'York Enniskillen', 298)
INSERT [dbo].[DIADIEMTOCHUC] ([IDDD], [TENDD], [DIACHI], [SUCCHUA]) VALUES (2, N'Trung tam hoi nghi Houston', N'York Boldon Colliery', 657)
INSERT [dbo].[DIADIEMTOCHUC] ([IDDD], [TENDD], [DIACHI], [SUCCHUA]) VALUES (3, N'Trung tam hoi nghi Arlington', N'Stockport Bala', 453)
GO
INSERT [dbo].[HOINGHI] ([IDHN], [IDDD], [TENHN], [MOTANGANHN], [MOTACHITIETHN], [HINHANH], [THOIGIANBATDAU], [THOIGIANKETTHUC], [SOLUONG]) VALUES (1, 73, N'Hội nghị Khoa Học Thường Niên Lần Thứ 25', N'Hội nghị được tổ chức tại Hertfordshire', N'Hội nghị được tổ chức tại Lanarkshire Glossop Cambridge. Có 97 người tham dự. Hội nghị hướng tới nhiều nội dung quan trọng, có sự tham dự của khách mời đến từ UBND thành phố cùng những nhà đầu tư lớn của tổ chức.', N'Images/hoinghi65.jpg', CAST(N'2021-04-04T11:26:56.220' AS DateTime), CAST(N'2020-11-30T19:06:26.720' AS DateTime), 409)
INSERT [dbo].[HOINGHI] ([IDHN], [IDDD], [TENHN], [MOTANGANHN], [MOTACHITIETHN], [HINHANH], [THOIGIANBATDAU], [THOIGIANKETTHUC], [SOLUONG]) VALUES (2, 82, N'Hội nghị Khoa Học Thường Niên Lần Thứ 15', N'Hội nghị được tổ chức tại Cumbria', N'Hội nghị được tổ chức tại County Durham Minehead Swindon. Có 59 người tham dự. Hội nghị hướng tới nhiều nội dung quan trọng, có sự tham dự của khách mời đến từ UBND thành phố cùng những nhà đầu tư lớn của tổ chức.', N'Images/hoinghi45.jpg', CAST(N'2022-09-19T07:49:48.120' AS DateTime), CAST(N'2020-10-09T07:18:06.160' AS DateTime), 296)
INSERT [dbo].[HOINGHI] ([IDHN], [IDDD], [TENHN], [MOTANGANHN], [MOTACHITIETHN], [HINHANH], [THOIGIANBATDAU], [THOIGIANKETTHUC], [SOLUONG]) VALUES (3, 77, N'Hội nghị Khoa Học Thường Niên Lần Thứ 27', N'Hội nghị được tổ chức tại Hampshire', N'Hội nghị được tổ chức tại Kent Sandringham Bristol. Có 82 người tham dự. Hội nghị hướng tới nhiều nội dung quan trọng, có sự tham dự của khách mời đến từ UBND thành phố cùng những nhà đầu tư lớn của tổ chức.', N'Images/hoinghi26.jpg', CAST(N'2017-10-08T19:33:06.770' AS DateTime), CAST(N'2025-08-30T10:16:16.210' AS DateTime), 343)
GO
INSERT [dbo].[USER] ([IDUSER], [TENUSER], [PASSWORD], [USERNAME], [EMAIL], [HINHANH], [LOAIUSER]) VALUES (1, N'Eugene Andersen', N'827CCB0EEA8A706C4C34A16891F84E7B', N'Lucas9', N'vqrho.fdxkenwo@rwps.inozb-.org', N'Images/user23.jpg', N'1')
INSERT [dbo].[USER] ([IDUSER], [TENUSER], [PASSWORD], [USERNAME], [EMAIL], [HINHANH], [LOAIUSER]) VALUES (2, N'Randal Wright', N'A8698009BCE6D1B8C2128EDDEFC25AAD', N'Esmeralda', N'kauh54@uxfokf.net', N'Images/user74.jpg', N'0')
INSERT [dbo].[USER] ([IDUSER], [TENUSER], [PASSWORD], [USERNAME], [EMAIL], [HINHANH], [LOAIUSER]) VALUES (3, N'Katherine Hester', N'827CCB0EEA8A706C4C34A16891F84E7B', N'Chrystal80', N'dtpit@dsowhd.com', N'Images/user84.jpg', N'0')
GO
/****** Object:  Index [PK_CHITIETADMIN]    Script Date: 19/01/2021 10:56:13 ******/
ALTER TABLE [dbo].[CHITIETADMIN] ADD  CONSTRAINT [PK_CHITIETADMIN] PRIMARY KEY NONCLUSTERED 
(
	[IDHN] ASC,
	[IDUSER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_DANGKITHAMGIA]    Script Date: 19/01/2021 10:56:13 ******/
ALTER TABLE [dbo].[DANGKITHAMGIA] ADD  CONSTRAINT [PK_DANGKITHAMGIA] PRIMARY KEY NONCLUSTERED 
(
	[IDHN] ASC,
	[IDUSER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHITIETADMIN]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETA_CO_HOINGHI] FOREIGN KEY([IDHN])
REFERENCES [dbo].[HOINGHI] ([IDHN])
GO
ALTER TABLE [dbo].[CHITIETADMIN] CHECK CONSTRAINT [FK_CHITIETA_CO_HOINGHI]
GO
ALTER TABLE [dbo].[CHITIETADMIN]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETA_GOM_CO_USER] FOREIGN KEY([IDUSER])
REFERENCES [dbo].[USER] ([IDUSER])
GO
ALTER TABLE [dbo].[CHITIETADMIN] CHECK CONSTRAINT [FK_CHITIETA_GOM_CO_USER]
GO
ALTER TABLE [dbo].[DANGKITHAMGIA]  WITH CHECK ADD  CONSTRAINT [FK_DANGKITH_BAO_GOM_USER] FOREIGN KEY([IDUSER])
REFERENCES [dbo].[USER] ([IDUSER])
GO
ALTER TABLE [dbo].[DANGKITHAMGIA] CHECK CONSTRAINT [FK_DANGKITH_BAO_GOM_USER]
GO
ALTER TABLE [dbo].[DANGKITHAMGIA]  WITH CHECK ADD  CONSTRAINT [FK_DANGKITH_DUOC_DANG_HOINGHI] FOREIGN KEY([IDHN])
REFERENCES [dbo].[HOINGHI] ([IDHN])
GO
ALTER TABLE [dbo].[DANGKITHAMGIA] CHECK CONSTRAINT [FK_DANGKITH_DUOC_DANG_HOINGHI]
GO
ALTER TABLE [dbo].[HOINGHI]  WITH CHECK ADD  CONSTRAINT [FK_HOINGHI_DUOC_TO_C_DIADIEMT] FOREIGN KEY([IDDD])
REFERENCES [dbo].[DIADIEMTOCHUC] ([IDDD])
GO
ALTER TABLE [dbo].[HOINGHI] CHECK CONSTRAINT [FK_HOINGHI_DUOC_TO_C_DIADIEMT]
GO
USE [master]
GO
